.form-container{

    width: 600px;
    border: 1px solid ;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    margin:0 auto;
    justify-content: center;
    box-shadow:5px solid goldenrod;
}
.form-title{
    font-size: 35px;
    font-weight: 400px;
    color: gray;
}

.input-group label{
    display: none;
    margin-left: 5px;
    margin-bottom: 5px;
}

.input-group input{
    width: 451px;
    height:55px ;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
}
.form-submit{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 451px;
    height: 55px;
    background-color: rgba(255,153,0,0.3);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;

}
.form-submit:hover{
    background-color: yellow;
}
.form-link{
    text-decoration: none;
    color: goldenrod;
}